<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1><header>HEADER STARTS</header></h1>
        @RenderBody()
        <h1><footer >FOOTER STARTS</footer></h1>
    </div>
</body>
</html>
